GameClient/Connected Services/GameService/Server1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Server" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11011/Server/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11011/Server/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11011/Server/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameClassLibrary.ClientServer" />
      <xsd:import schemaLocation="http://localhost:11011/Server/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GameClassLibrary.GameObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServer_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IServer_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IServer_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGame" />
  </wsdl:message>
  <wsdl:message name="IServer_GetGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_MakeTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeTurn" />
  </wsdl:message>
  <wsdl:message name="IServer_MakeTurn_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeTurnResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetGameMap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameMap" />
  </wsdl:message>
  <wsdl:message name="IServer_GetGameMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameMapResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetGameState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameState" />
  </wsdl:message>
  <wsdl:message name="IServer_GetGameState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameStateResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetWinerGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWinerGuid" />
  </wsdl:message>
  <wsdl:message name="IServer_GetWinerGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWinerGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestion" />
  </wsdl:message>
  <wsdl:message name="IServer_GetQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_SetAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAnswer" />
  </wsdl:message>
  <wsdl:message name="IServer_SetAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_Turn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Turn" />
  </wsdl:message>
  <wsdl:message name="IServer_Ping_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IServer_Ping_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_GetUserName_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="IServer_GetUserName_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IServer">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/Start" message="tns:IServer_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/StartResponse" message="tns:IServer_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/Stop" message="tns:IServer_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/StopResponse" message="tns:IServer_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetGame" message="tns:IServer_GetGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetGameResponse" message="tns:IServer_GetGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/MakeTurn" message="tns:IServer_MakeTurn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/MakeTurnResponse" message="tns:IServer_MakeTurn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameMap">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetGameMap" message="tns:IServer_GetGameMap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetGameMapResponse" message="tns:IServer_GetGameMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetGameState" message="tns:IServer_GetGameState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetGameStateResponse" message="tns:IServer_GetGameState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWinerGuid">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetWinerGuid" message="tns:IServer_GetWinerGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetWinerGuidResponse" message="tns:IServer_GetWinerGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetQuestion" message="tns:IServer_GetQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetQuestionResponse" message="tns:IServer_GetQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/SetAnswer" message="tns:IServer_SetAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/SetAnswerResponse" message="tns:IServer_SetAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Turn">
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/Turn" message="tns:IServer_Turn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/Ping" message="tns:IServer_Ping_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/PingResponse" message="tns:IServer_Ping_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetUserName" message="tns:IServer_GetUserName_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetUserNameResponse" message="tns:IServer_GetUserName_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServer" type="tns:IServer">
    <wsp:PolicyReference URI="#NetTcpBinding_IServer_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IServer/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/IServer/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <soap12:operation soapAction="http://tempuri.org/IServer/GetGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeTurn">
      <soap12:operation soapAction="http://tempuri.org/IServer/MakeTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameMap">
      <soap12:operation soapAction="http://tempuri.org/IServer/GetGameMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <soap12:operation soapAction="http://tempuri.org/IServer/GetGameState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWinerGuid">
      <soap12:operation soapAction="http://tempuri.org/IServer/GetWinerGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <soap12:operation soapAction="http://tempuri.org/IServer/GetQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAnswer">
      <soap12:operation soapAction="http://tempuri.org/IServer/SetAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Turn">
      <soap12:operation soapAction="http://tempuri.org/IServer/Turn" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IServer/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://tempuri.org/IServer/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Server">
    <wsdl:port name="NetTcpBinding_IServer" binding="tns:NetTcpBinding_IServer">
      <soap12:address location="net.tcp://localhost:11000/Server/GameServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:11000/Server/GameServer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>